<link rel="stylesheet" href="styles/wheels.css" />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 useCaseTitle">Animation</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
<div id="outerDiv" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-drag="true" data-allow-transform="false">
	&nbsp;
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<span class="submitBtn" ng-show="gear.start"   ng-click="startGear()">Start</span>
	<span class="submitBtn" ng-show="gear.stop"	   ng-click="stopGear()">Stop</span>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>